/* all-purpose */

body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", Verdana, sans-serif;
    font-size: 12px;
	min-width: 800px;
}

h1 {font-size: 200%;}

h2 {font-size: 160%;}

h3 {font-size: 180%;}

h4 {font-size: 140%;}

h5 {font-size: 120%;}

h6 {font-size: 100%;}

option {
    font-family: "Lucida Sans", Verdana, sans-serif;
}

input[type="text"],
input[type="password"],
textarea {
    font-family: "Lucida Sans Typewriter", "Courier New", monospace;
}

/* main layout */

#top {
    clear: both;
	padding: 4px;
	background-color: #eee;
}

#container {
	clear: both;
	width: 100%;
	margin: 0;
	padding-left: 12px;
	padding-right: 12px;
}

#left {
	width: 144px;
	padding: 4px;
	vertical-align: top;
}

#content {
	padding: 4px;
	vertical-align: top;
}

#right {
	width: 144px;
	padding: 4px;
	vertical-align: top;
	text-align: center;
}


#bottom {
    clear: both;
	padding: 4px;
	background-color: #eee;
}

/* form layout (http://phrogz.net/CSS/formdl.html) */

#content form dl {
    margin: 0em;
    margin-top: 0.5em;
    clear: both;
}

#content form dt {
    float: left;
    clear: left;
    width: 10em;
    margin-bottom: 0.8em;
    text-align: right;
    font-weight: bold;
    position: relative;
}

#content form dd {
    clear: right;
    margin-left: 10.5em;
    margin-bottom: 0.8em;
    padding-left: 0.5em
}

#content form ul {
	margin: 0;
	padding: 4px;
	list-style: none;
}

#content form ul.success {
	background-color: #aaf;
	border: 1px solid #33f;
}

#content form ul.failure {
	background-color: #faa;
	border: 1px solid #f33;
}

#content form dl ul {
	color: red;
	font-size: 90%;
}

#right form dl,
#right form dd,
#right form dt {
	margin: 4px;
	padding: 0;
	text-align: center;
    clear: both;
}

#left form dl,
#left form dd,
#left form dt {
	margin: 4px;
	padding: 0;
	text-align: center;
    clear: both;
}
