body
{
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", Verdana;
    font-size: 12px;
    color: #000;
    background-color: #ddd;
}

h1 {font-size: 200%};
h2 {font-size: 160%};
h3 {font-size: 180%};
h4 {font-size: 140%};
h5 {font-size: 120%};
h6 {font-size: 100%};

option {
    font-family: "Lucida Sans", Verdana;
}

input[type="text"],
input[type="password"],
textarea {
    font-family: "Lucida Sans Typewriter", monospace;
}
